<div class="body">

    <div class="login">
        <img src="https://cdn.discordapp.com/attachments/1043280212474994769/1103515204475695164/LOGO.png" alt="" width="50%" height="80%">
        <mat-form-field class="ancho pt-4" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>senha</mat-label>
            <input type="password" matInput>
          </mat-form-field>
          <br>
          <button (click)="ingresar()" class="ancho" mat-raised-button mat-button color="primary">entrar</button>

    </div>

</div>


